html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  max-width: 1600px !important;
  margin: 0 auto;
}

.desktop_nav {
  display: block;
}
.mobile_nav {
  display: none;
}
.offcanvas-end {
  width: 300px !important;
}

.btn-close {
  background-color: white !important;
}
.answer {
  display: none;
}
.answer.active {
  display: block;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
  text-align: initial;
  padding: 20px 0;
  max-width: 701px;
}
span.active {
  transform: rotate(180deg);
}
.angle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: auto;
  background: #ff6433;
  padding: 9px 10px;
}
.slick-next{
  right: 0 !important;
}
 .slick-prev {
  background: #FFFFFF !important;
  border-radius: 29px;
    padding: 16px 17px !important;
    top: auto !important;
    bottom: -13% !important;
    left: auto !important;
    right: 10% !important;
    cursor: pointer;
}
 .slick-prev::before {
  content: '' !important;
  width: 20px;
  height: 20px;
  background-image: url("/images/ArrowPrev.png");
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
    left: 22%;
    position: absolute;
    top: 24%;
}
  .slick-next{
  background: #FFFFFF !important;
  border-radius: 29px;
    padding: 16px 17px !important;
    top: auto !important;
    left: 91% !important;
    bottom: -13% !important;
    cursor: pointer;
}
 .slick-next:before{
  content: '' !important;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("/images/ArrowPrev.png");
  background-repeat: no-repeat;
  vertical-align: middle;
    transform: rotate(180deg);
    position: absolute;
    left: auto;
    right: 10%;
    top: 13%;
}
.slick-next:hover ,.slick-prev:hover{
  background-color: black !important;
  color: white !important;
  filter: brightness(10) !important;
}
.slick-dots{
  position: relative !important;
}
.slick-dots li button:before {
  width: 32px;
  border-bottom: 4px solid #939191;
  content: '' !important;
}
.slick-dots li.slick-active button:before {
  border-bottom: 4px solid #FF6433;
}

/* Responsive start  */
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 992px) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 567px) {
  .answer.active {
    font-size: 15px;
    margin: 10px 22px !important;
  }
}
/* Responsive end  */
